.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5f9434;
  padding-top: 120px;
  height: 520px;
  background-image: url(../images/football-no-lines.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

.header-main h2 {
  font-weight: 300;
  color: #fff;
  margin: 10px 0 20px 0;
}

.header-main h2 span {
  font-weight: 600;
}