nav {
  height: 120px;
  width: 100vw;
  background: #4056A1;
  color: #fff;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.nav--write-tweet {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav--write-tweet p {
  margin-bottom: 5px;
}

.nav--write-tweet span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.nav--write-tweet i {
  color: hotpink;
}

a {
  text-decoration: none;
  color: #fff;
}